/* CSS dosyasında */
.css-11mde6h-MuiPaper-root {
    background-color: #8c8c8c !important;
    border-radius: 30px !important;
    box-shadow: 0 0 15px 0px rgb(255 255 255 / 48%) !important;
    margin-top: 39px !important;
  }
.css-15wwp11-MuiTableHead-root{
    color: white !important;
}
.tss-ylo811-MUIDataTableSelectCell-headerCell{
    background-color: #8c8c8c !important;
}
.css-15wwp11-MuiTableHead-root{
    background-color: #8c8c8c !important;
}